
.card {
    margin: 0 auto; /* Added */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 5px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

body
{
    margin: 0px;
    font-family: sans-serif;
    text-align:center;
}


.contenido
{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}




.titulo-label-2{
    font-size:25px;
    color: lightslategrey;
}



.titulo-label-4{
    font-size:25px;
    color: lightseagreen;

}

.cardT{
    font-size:18px;
    color: seagreen;
    max-width: 500px;
    text-align: left;
}


input:invalid {
    border: 1px solid gray;
}

input:valid {
    border: 1px solid deepskyblue;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}